<!-- <div class="header">
    {{ page.header }}
</div> -->

<header class="sidebar-left menu__wrapper">
    {{ page.sidebar_left }}
</header>
<main class="content content__wrapper">
    {{ page.content }}
</main>

<!-- <div class="footer">
    {{ page.footer }}
</div>
 -->